<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Movie and tv series:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toggle (ionChange)="toggleEvent($event)"></ion-toggle>
  <ion-radio-group value="moviesTvList" [(ngModel)]="selectedValue" (ionChange)="onRadioChange()">
    <ion-radio value="movie">Movie</ion-radio>
    <ion-radio value="series">Tv Series</ion-radio>
  </ion-radio-group>
  <!-- <ion-checkbox [(ngModel)]="isOrdered" (ionChange)="getMoviesTv()">Order by Alphabet:</ion-checkbox> -->
  <ion-radio-group [(ngModel)]="isOrderedByYear" (ionChange)="onRadioChange()">
    <ion-radio value="asc">Ascending</ion-radio>
    <ion-radio value="desc">Descending</ion-radio>
    <ion-radio value="none">None</ion-radio>
  </ion-radio-group>
  <ion-select [(ngModel)]="selectedOption" (ionChange)="getMoviesTv()">
    <ion-select-option *ngFor="let i of valuesSelect" [value]="i">{{i}}</ion-select-option>
  </ion-select>

  <ion-select [(ngModel)]="selectedOptionTry" (ionChange)="getMoviesTv()">
    <ion-select-option value="byAlphabet">Alphabet</ion-select-option>
    <ion-select-option value="byRating">Rating</ion-select-option>
    <ion-select-option value="byYear">Year</ion-select-option>
  </ion-select>




  <ion-searchbar [(ngModel)]="searchMovieTv" (ionChange)="getMoviesTv()" search-icon="search-circle"></ion-searchbar>
  <ion-list>
    <ion-item button *ngFor="let item of moviesTv" [routerLink]="[item.imdbID]">
      <ion-label>{{item.Title}}</ion-label>
      <img slot="start" src="{{item.Poster}}" alt="">
      <ion-label>{{item.Year}}</ion-label>

    </ion-item>



  </ion-list>
</ion-content>