.ms_wrapper_radio {
    padding: 0 10px;
}

.ms_container {
    padding: 10px;
}

.ms_wrapper {
    padding: 0 10px;
}

.ms_borded {
    height: 40px;
    min-width: 50px;
    border-radius: 20px;
    border: 1px solid;
}

.ms_borded_dark {
    border: 1px solid white;

}

.ms_borded_light {
    border: black;

}

ion-card {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;

    .ms_container_img {
        width: 100%;
    }

    img {
        width: 100%;
    }

}

// UTILITIES

.pdg_15 {
    padding: 0 15px;
}

.pdb_60_top {
    padding-top: 60px;
}

.w_80 {
    width: 80%;
    margin: auto;
}


.ms_container_select {
    margin: 0 5px;
}

.d_flex {
    display: flex;
}



// MEDIA QUERIES
@media screen and (min-width: 450px) {

    #big_wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        text-align: left;
        height: 540px;


        ion-card {
            margin-bottom: 30px;
        }

    }
}

@media screen and (min-width: 600px) {

    #big_wrapper {
        ion-card {
            width: calc(100% / 3 - 20px);
            height: 420px;
            margin: 10px;

            .card_img {
                width: 100%;
            }

            img {
                height: 230px;
            }
        }

    }

}


@media screen and (min-width: 992px) {

    #big_wrapper {
        ion-card {
            width: calc(100% / 4 - 20px);
            min-height: 400px;
        }

    }

}