.text_center {
    text-align: center;
}

// .margin_auto {
//     margin: auto;
// }


ion-card {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;



    .ms_container_img {
        width: 100%;

    }

    img {
        width: 100%;

    }

    // img {
    //     height: 230px;
    // }
}

.d_flex {
    display: flex;
}

// .radio_text {
//     font-size: 25px;
// }

.ms_container {
    padding: 10px;
}


.ms_wrapper {
    padding: 0 10px;
}

// .ms_borded {
//     height: 40px;
//     min-width: 50px;
//     border-radius: 20px;
// }
.ms_borded {
    height: 40px;
    min-width: 50px;
    border-radius: 20px;
    border: 1px solid;
}

.ms_borded_dark {
    border: 1px solid white;

}

.ms_borded_light {
    border: black;

}

.ms_wrapper_radio {
    padding: 0 10px;
}

.pdg_10 {
    padding: 0 10px;
}

.w_80 {
    width: 80%;
    margin: auto;
}


// .ms_year {
//     height: 20px;
// }




@media screen and (min-width: 576px) {

    #big_wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        justify-content: space-between;
        height: 540px;


        ion-card {
            width: calc(100% / 2 - 20px);
            margin-bottom: 30px;

            .card_img {
                width: 100%;
            }

            img {
                height: 230px;
            }
        }

    }



}

@media screen and (min-width: 768px) {

    #big_wrapper {
        ion-card {
            width: calc(100% / 3 - 20px);
            margin-bottom: 30px;
            height: 420px;

            .card_img {
                width: 100%;
            }

            img {
                height: 230px;
            }
        }

    }

}


@media screen and (min-width: 992px) {

    #big_wrapper {
        ion-card {
            width: calc(100% / 4 - 20px);
            margin-bottom: 30px;
            min-height: 400px;

            .card_img {
                width: 100%;
            }


            img {
                height: 230px;
            }
        }

    }

}