.text_center {
    text-align: center;
}

.margin_auto {
    margin: auto;
}


ion-card {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;

    .card_img {
        width: 100%;
    }
}

.d_flex {
    display: flex;
}

// .radio_text {
//     font-size: 25px;
// }

.ms_container {
    padding: 10px;
}


.ms_wrapper {
    padding: 0 10px;
}

.ms_borded {

    border: 1px solid black;
    height: 40px;
    min-width: 50px;
    border-radius: 20px;
}

.ms_wrapper_radio {
    padding: 0 10px;
}

.pdg_5 {
    padding: 0 5px;
}