<ion-header>
  <ion-toolbar color="primary">

    <ion-title slot="start">Movies & TV Series</ion-title>

    <div class="ms_container" slot="end">
      <ion-icon name="sunny-outline"></ion-icon>
      <ion-toggle (ionChange)="toggleEvent($event)"></ion-toggle>
      <ion-icon name="moon-outline"></ion-icon>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content color="light" id="jumbo">
  <div class="ms_container ion-text-center d_flex ion-align-items-center ion-justify-content-around">

    <ion-radio-group value="moviesTvList" [(ngModel)]="selectedValue" (ionChange)="onRadioChange()"
      class="d_flex ion-justify-content-center ion-align-items-center ">
      <div class="ms_wrapper">
        <div class="radio_text">Movie</div>
        <ion-radio value="movie"></ion-radio><span class="radio_text"></span>
      </div>
      <div class="ms_wrapper">
        <div class="radio_text">Series</div>
        <ion-radio value="series"></ion-radio><span class="radio_text"></span>
      </div>
    </ion-radio-group>

    <div class="ms_container_select d_flex ion-align-items-center ms_borded pdg_15"
      [class.ms_borded_dark]="!selectDarkLight">
      <ion-select [(ngModel)]="isOrderedByYear" (ionChange)="getMoviesTv()" slot="end">
        <ion-select-option value="asc">Ascending</ion-select-option>
        <ion-select-option value="desc">Descending</ion-select-option>
        <ion-select-option value="none">Default</ion-select-option>
      </ion-select>
    </div>

    <div class="ms_container d_flex ion-align-items-center ms_borded" [class.ms_borded_dark]="!selectDarkLight">
      <div class="ms_container_select">
        <ion-select [(ngModel)]="selectedOptionTry" (ionChange)="getMoviesTv()" slot="end">
          <ion-select-option value="byAlphabet">Alphabet</ion-select-option>
          <ion-select-option value="byRating">Rating</ion-select-option>
          <ion-select-option value="byYear">Year</ion-select-option>
        </ion-select>
      </div>
    </div>

  </div>

  <ion-searchbar [(ngModel)]="searchMovieTv" (ionChange)="getMoviesTv()" color="primary" class="w_80"></ion-searchbar>

  <div class="ms_card_container ion-justify-content-start" id="big_wrapper" *ngIf="moviesTv">

    <ion-card button *ngFor="let item of moviesTv" [routerLink]="[item.imdbID]">
      <div class="ms_container_img">
        <img *ngIf="item.Poster !== 'N/A'" src="{{item.Poster}}" alt="item.Title" class="card_img">
        <img *ngIf="item.Poster == 'N/A'" src="../../../assets/noImage.jpeg" alt="" class="card_img">
      </div>
      <ion-card-header>
        <ion-card-title>{{item.Title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="ms_year">
          {{item.Year}}
        </div>
      </ion-card-content>
    </ion-card>

  </div>

  <div *ngIf="!moviesTv && !feedbackError " class="d_flex ion-justify-content-center">
    <img class="pdb_60_top" src="../../../assets/introMovieTv.png" alt="">
  </div>

  <h4 *ngIf="feedbackError.length>0">{{feedbackError}}</h4>
</ion-content>