<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{movieTv?.Title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies-tv"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="movieTv">
    <div class="ms_img_wrapper">
      <img src="{{movieTv.Poster}}" alt="{{movieTv.Title}}" />
    </div>
    <h2>{{movieTv.Title}}</h2>
    <p>Plot : {{movieTv.Plot}}</p>
    <p>Rating : {{movieTv.imdbRating}}</p>
    <p>Release Year: {{movieTv.Year}}</p>
    <p>Language : {{movieTv.Language}}</p>
    <p>Genre : {{movieTv.Genre}}</p>
    <p>Director : {{movieTv.Director}}</p>
    <p>Actors : {{movieTv.Actors}}</p>
    <p>Awards : {{movieTv.Awards}}</p>
    <p>Box office : {{movieTv.BoxOffice}}</p>
  </ion-card>
</ion-content>