.ms_img_wrapper {
    width: 80%;
    margin: auto;
}

img {
    width: 100%;
}




@media screen and (min-width: 576px) {}


@media screen and (min-width: 768px) {}


@media screen and (min-width: 992px) {}