<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{movieTv?.Title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies-tv"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="movieTv">
    <div class="ms_img_wrapper">
      <img src="{{movieTv.Poster}}" alt="{{movieTv.Title}}" />
    </div>
    <div class="ms_text_info">
      <h2>{{movieTv.Title}}</h2>
      <p> <span class="ms_text_title">Plot : </span>{{movieTv.Plot}}</p>
      <p> <span class="ms_text_title">Rating : </span>{{movieTv.imdbRating}}</p>
      <p> <span class="ms_text_title">Release Year: </span>{{movieTv.Year}}</p>
      <p> <span class="ms_text_title">Language : </span>{{movieTv.Language}}</p>
      <p> <span class="ms_text_title">Genre : </span>{{movieTv.Genre}}</p>
      <p> <span class="ms_text_title">Director : </span>{{movieTv.Director}}</p>
      <p> <span class="ms_text_title">Actors : </span>{{movieTv.Actors}}</p>
      <p><span class="ms_text_title">Awards : </span>{{movieTv.Awards}}</p>
      <p><span class="ms_text_title">Box office : </span>{{movieTv.BoxOffice}}</p>
    </div>
  </ion-card>
</ion-content>